body {
    background-color: #00ddff
}

h1, h2, p {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

img {
    display: block;
    margin: 0 auto 0 auto;   
    width: auto;
    height: 350px;
}

ul.index {
   display: flex;
   justify-content: center;
   list-style: none;
   margin: 10px
   
}

li.index {
    padding: 40px;
       
}

a {
    flex-direction: column;
    text-decoration: none;
    font-size: 24px;
}